/* src/App.css */
.App {
  display: flex;
}

.main-content {
  margin-left: 300px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.sidebar.closed + .main-content {
  margin-left: 100px;
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
}
